<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <!--Общее описание вашего Web-приложения-->
    <!--display-name - имя которое может быть отображено администратору сервера-->
    <display-name>
        Показывает построение простого веб-приложения на основе сервлетов.
    </display-name>

    <!--Определение сервлета-->
    <servlet>
        <!--Имя которое мы выбрали для этого конкретного сервлета-->
        <servlet-name>simpleServlet</servlet-name>

        <!--Задаёт полное имя класса сервлета-->
        <servlet-class>
            SimpleServlet
        </servlet-class>
    </servlet>

    <servlet>
        <servlet-name>getParamServlet</servlet-name>
        <servlet-class>GetParamServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>postParamServlet</servlet-name>
        <servlet-class>PostParamServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>redirectServlet</servlet-name>
        <servlet-class>RedirectServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>sniffer</servlet-name>
        <servlet-class>Sniffer</servlet-class>
    </servlet>

    <!--Задание карты сервлета-->
    <!--Шаблон URL помогает серверу определять, какие запросы посылаются сервлету.-->
    <servlet-mapping>
        <servlet-name>simpleServlet</servlet-name>
        <url-pattern>/simpleServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>getParamServlet</servlet-name>
        <url-pattern>/getParamServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>postParamServlet</servlet-name>
        <url-pattern>/postParamServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>redirectServlet</servlet-name>
        <url-pattern>/redirectServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>sniffer</servlet-name>
        <url-pattern>/sniffer</url-pattern>
    </servlet-mapping>
</web-app>
